<h1>{{ title }}</h1>

{{#if courses.length }}
    <div class="row">
        {{#each courses}}
        <div class="col s4">
            <div class="card course">
                <div class="card-image p3 course__image">
                    <img alt="{{title}}" src="{{ img }}" width="60">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ title }}</span>
                    <span class="card-price js-price-format course__price">{{ price }}</span>
                </div>
                <div class="card-action">
                    <a target="_blank" href="/courses/{{ id }}">Открыть курс</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{ else }}
    <p>Курсов пока нет!</p>
{{/if }}